* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

body {
  background-color: #e8ebe4;
}

header {
  padding: 20px;
  font-family: "Optima", sans-serif;
  background-color: #d2d5dd;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 50px;
}

header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Optima", sans-serif;
  font-size: 20px;
}

header div ul {
  list-style-type: none;
}

header div ul li {
  display: inline-block;
  margin-left: 25px;
}

header section img {
  display: inline-flex;
  width: 20%;
  height: 20%;
}

h2 {
  display: inline-flex;
  float: left;
  color: #ffffff;
  font-size: 20px;
}

#about {
  display: inline-block;
  font-family: "Optima", sans-serif;
  background-color: #99798071;
  color: #ffffff;
  padding: 20px;
}

#about p {
  display: inline-flex;
  float: right;
  width: 95%;
  padding: 20px;
  font-size: 30px;
}

#work {
  display: inline-block;
  font-family: "Optima", sans-serif;
  background-color: #b8bacf;
  color: #ffffff;
  width: 100%;
}

.card {
  display: inline-block;
  width: 30%;
  padding: 30px;
  margin-left: 80px;
}
.text {
  display: inline-flex;
  float: right;
}

h3 {
  display: inline-block;
  width: 80%;
}

#work .card:hover {
  background-color: silver;
}

#work img {
  width: 100%;
}

#cards {
  display: inline-flex;
  float: right;
  margin-left: 100 px;
}

#contact {
  display: inline-block;
  padding: 20px;
  font-family: "Optima", sans-serif;
  background-color: #798071;
  width: 100%;
}
#contact li {
  display: inline-flex;
  float: right;
  padding: 20px;
  font-family: "Optima", sans-serif;
  background-color: #798071;
}

strong {
  color: #ffffff;
}
