* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* set background for whole page*/
body {
  background-color: #d9dcd6;
}

/*formats header box*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/*formats buttons*/
header div {
  padding: 60px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* formats name*/
header div h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 48px;
}

header div ul {
  list-style-type: none;
}

header div ul li {
  margin-left: 25px;
}

/* formats photo and about me section*/
header div img {
  height: 50%;
  width: 50%;
  margin-bottom: 25px;
  background-position: left;
}

/* all images below header have a max size of 200px */
div img {
  max-height: 200px;
}

/* formats section headings*/
h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* formats body of page */
main {
  margin-left: 20px;
}

/* formats sections */
main div {
  flex: 1;
  margin-bottom: 20px;
  padding: 50px;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

/* project boxes*/
main div section {
  display: inline-block;
  border: 1px gray solid;
}
main div section img {
}
