* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Mukta", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}
p {
  font-size: 10px;
}

header {
  padding: 20px;
  font-family: "Mukta", sans-serif;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 50px;
}

header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
}

header div ul {
  list-style-type: none;
}

header div ul li {
  display: inline-block;
  margin-left: 25px;
}

header section img {
  display: inline-flex;
  width: 15%;
  height: 15%;
  margin-left: 90px;
  border-radius: 25px;
}

h2 {
  display: inline-flex;
  float: left;
  color: #ffffff;
  font-size: 20px;
}

#about {
  display: inline-block;
  font-family: "Mukta", sans-serif;
  color: #ffffff;
  padding: 20px;
}

#about p {
  display: inline-flex;
  float: right;
  width: 95%;
  padding: 20px;
  font-size: 15px;
}

#work {
  display: inline-block;
  font-family: "Mukta", sans-serif;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}

.card {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin-left: 80px;
}
.text {
  display: inline-flex;
  float: left;
}

h3 {
  display: inline-block;
  width: 80%;
  padding-right: 10px;
}

#work .card:hover {
  background-color: silver;
}

#work img {
  width: 100%;
}

#cards {
  display: inline-flex;
  float: right;
  margin-left: 0px;
}

#contact {
  display: inline-block;
  padding: 20px;
  font-family: "Mukta", sans-serif;
  width: 100%;
}
#contact li {
  display: inline-flex;
  float: right;
  padding: 20px;
}
